header {
    position: absolute;
    min-width: 100vw;
    top: 0;
    
    .cont-nav {
        display: flex;
        justify-content: space-between;
        margin-right: 1.5rem;

        .cont-logo {
            position: relative;
            z-index: 10;
            right: 0;
            margin: 1.5rem .7rem;
            width: 30%;

            img {
                width: 100%;
            }
        }

        button {
            position: relative;
            z-index: 10;
            margin: 1.5rem .7rem;
        }
    }

}

@media screen and (min-width:650px) {
    header {  
        .cont-nav {
            .cont-logo {
                width: 20%;
            }
        }  
    }
}


@media screen and (min-width:1024px) {
    header {
        .cont-nav {
            display: flex;
            justify-content: space-between;
            margin-right: 2rem;
    
            .cont-logo {
                margin: 2.5rem 4rem;
                width: 15%;
    
                img {
                    width: 100%;
                }
            }
    
            button {
                margin: 2.5rem 4rem;
                padding: .5rem 2.5rem;
            }
        }
    }
}


