:root {
    --pink: hsl(322, 100%, 66%);
    
    --color-bgrnd: hsl(193, 100%, 96%);
    --color-footer: hsl(192, 100%, 9%);
    --color-tittle: hsl(208, 11%, 55%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

